.model.selected{
    background-color: #0058a6;
    color: white;
}
.model:hover{
    background-color: #77b0e3;
    color:white;
}
.model{
    width:350px; 
    height: 100px; 
}
.model-name{
    margin-top:18px;
}

@media only screen and (max-width : 760px) {
    .model{
        width:100%; 
        height: 100px; 
    }
}