.model.selected{
    background-color: #0058a6;
    color: white;
}
.model:hover{
    background-color: #77b0e3;
    color:white;
}
.model-name{
    width:310px;
    height: 50px; 
}
.model-name{
    margin-top:18px;
    margin-left: 10px;
}

@media only screen and (max-width : 760px) {
    .model-name{
        width:100%; 
        height: 50px; 
    }
}
.models-wrapper{
    flex: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}