.navbar {
    z-index: 2 !important;
}
/* .breadcrumb a {
    color: #90caf9;
    cursor: pointer;
    text-decoration: none;
}
.breadcrumb a:hover{
    color: #2196f3;
} */
@media screen and (min-width: 1088px){
    .navbar-item{
        color:white;
    }
}