.rv-discrete-color-legend-item{
    display: inline-block;
    padding: 10px 10px 0px 10px;
}
.rv-discrete-color-legend-item svg{
    height: 12px;
}
.rv-discrete-color-legend-item__title{
    padding-left: 5px;
}
.rv-xy-plot__axis__ticks{
    transform:translate(45px, 0px);
}

.bar-chart-hint {
    display: none;
    padding: 1rem 2rem;
    background-color: #333333;
    border-radius: 0.3rem;
    opacity: 0;
    transition: 1s;
    opacity: 1;
}

.bar-chart-hint p  {
    color: white;
}