	
.detailed-interpolation-wrapper{
        overflow-y: hidden;
        max-height: 0%; /* approximate max height */
}
    
.detailed-interpolation-wrapper.open{
        max-width: 100%;
        transition-property: all;
        transition-duration: 5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

.average-wrapper{
	margin-bottom: 1.5rem;
}

.header-wrapper {
	width: 100%;
}

.header-card {
	width: 100%;
	padding: 20px 20px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-wrapper{
	margin-bottom: 2vh;
}
.missing-wrapper{
	color:rgb(184, 184, 184);
}

.more-interpolation {
	/* animation: slideDown .2 ease-in; */
	margin-left: 25px;
}
.tire-wrapper{
	margin-left: 25px;
}
/* @keyframes slideDown {
	0%{
		transform: translateY(-100px)
	}
	100%{
		transform: translateY(0px)
	}
} */
@media only screen and (max-width : 760px) {
	.header-card{
		width: 100%;
		display: block;
	}
	.average-wrapper {
		margin-bottom: 1rem;
	}
}

.car-info{
	padding: 50px;
}

.infosubtitle-tire{
	margin-left: 20px;
	cursor: pointer;
}

.infosubtitle-consumption{
	margin-left: 9px;
	cursor: pointer;
}

.infosubtitle-emission{
	cursor: pointer;
	margin-left: 20px;
}

.data-wrapper {
	margin: 50px
}

.configure-button {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
}

.configure-panel {
	width: 100%;
	text-align: center;
}

.dynamic-info-wrapper {
	margin-bottom: 10px;
}

.more-information-wrapper {
	display: flex;
}

.satic-info-wrapper {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}