.detailed-interpolation-wrapper{
	overflow-y: hidden;
	max-height: 0%; /* approximate max height */

}

.detailed-interpolation-wrapper.open{
	max-width: 100%;
	transition-property: all;
	transition-duration: 5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.configure-button{
	/* background-color: green; */
}

.average-wrapper{

}

.header-wrapper {
	width: 100%;
}

.header-card {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.compare-model-wrapper{
	margin-bottom: 2vh;
}