.graph-title{
    color:white;
    position: absolute;
    top:100px;
    left:50px;
	z-index: 1;
	text-decoration: underline;
}
.graph-wrapper{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	background-color: black;
}
.graph-paragraph{
	color:white;
    position: absolute;
    top:160px;
	left:50px;
	z-index: 1;
	width: 600px;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}