.model{
    width:330px;
    /* height: 200px;  */
}
.headingModel{
    /* position: absolute; */
    /* width: 200px; */
    /* color: rgb(100, 100, 100); */
    /* font-family: initial; */
}
.headingModel:hover{
    /* color:rgb(100, 100, 100); */
}
.headingModel.selected{
    /* background-color: #3f51b5; */
    color: white;
}
.imgIcon{
    margin-top: 50px;
    position: relative;
    z-index: 0;
}
@media only screen and (max-width : 760px) {
    .model-name{
        width:100%; 
        height: 50px; 
    }
}
.models-wrapper{
    flex: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.typeNameBlock{
    background-color: #1565c0;
    width: 100%;
    /* height: 68px; */
    padding: 10px;
}
.model.selected{
    background-color: #64b5f6;
    color: white;
    /* color:black; */
}
.model:hover{
    background-color: #64b5f6;
    /* color:black; */
}
.type-elem:hover{
    background-color: #64b5f6;
}
.type-elem.selected{
	background-color: #64b5f6;
}
