.model{
    width:330px;
    height: 200px; 
}
.headingModel{
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-tranform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* .headingModel:hover{
    color:rgb(100, 100, 100);
} */
.headingModel.selected{
    margin: 0;
    position: relative;
    top: 0%;
    left:0%;
    -ms-tranform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.imgIcon{
    margin-top: 50px;
    position: relative;
    z-index: 0;
}
@media only screen and (max-width : 760px) {
    .model-name{
        width:100%; 
        height: 50px; 
        
    }
    .model{
        width:100%;
        height: 160px; 
    }
}
.models-wrapper{
    flex: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.loaders{
    display: flex;
    flex-direction: row;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.typeNameBlock{
    width: 100%;
    /* height: 68px; */
    /* padding: 10px; */
}
.typeNameBlock.selected{
    padding-top: 10px;
    border-top: 2px solid gray;
}
.model.selected{
    border: 2px solid #64b5f6;
}
.model:hover{
    background-color: #bbdefb;
}
.type-elem{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(168, 168, 168); 
}
.type-elem:hover{
    background-color: #bbdefb;
}
.type-elem.selected{
	background-color: #bbdefb;
}
