
.tree-category.selected{
	background-color: lightblue;
}

.tree-wrapper{
	flex:1
}

.tree-category-wrapper{
	flex: display;
}

.tree-option.selected{
	background-color: lightcyan;
}

.options-wrapper {
	max-height: 42%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1%;
}

.input-category-search {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	width: 25%;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.input-category-search:focus {
	width: 50%;
}

.description-tag {
	margin-right: 5px;
}

.header-wrapper {
	margin-bottom: 1%;
}

.filter-button.selected {
	background-color: lightblue;
}

.choice-wrapper {
	animation: slideDown .5s ease-in;
}

@keyframes slideDown {
	0%{
		transform: translateY(-100px)
	}
	100%{
		transform: translateY(0px)
	}
}