.header-wrapper {
	margin-bottom: 1%;
}

.filter-button.selected {
	background-color: lightblue;
}

.choice-wrapper {
	animation: slideDown .5s ease-in;
}

@keyframes slideDown {
	0%{
		transform: translateY(-100px)
	}
	100%{
		transform: translateY(0px)
	}
}