.tree-category {
    width: 100%;
    padding: 10px;
	border-bottom: 1px solid rgb(168, 168, 168);
}

.choice {
	cursor: pointer;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid rgb(168, 168, 168);
	padding: 10px;
}

.modal-header-wrapper {
	padding-bottom: 5px;
}

.button-panel {
	display: flex;
	justify-content: space-between;
	position: inherit;
	top: 100%;
	margin: 1rem 2rem;
}

.choice.valid.selected {
	background-color: lightgreen;
}

.choice.invalid {
	cursor: not-allowed;
	background-color: #bdbdbd;
}

.loading-modal * {
    color: white;
    font-size: 2em;
    outline: none;
}

.loading-modal-overlay {
    opacity: 0.8;
    background-color: #f9f9f9 !important;
    color: white !important;
}

.loading-modal > div {
    color: white !important;
}

.loader-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-category {
	cursor: pointer;
    width: 100%;
    padding: 10px;
	border-bottom: 1px solid rgb(168, 168, 168);
}

.tree-category.selected{
	background-color: lightblue;
}

.tree-wrapper{
	flex:1
}

.tree-category-wrapper{
	flex: display;
}

.tree-option {
	width: 80%;
	margin: 0 auto;
    padding: 10px;
}

.tree-option.selected{
	background-color: lightcyan;
}

.options-wrapper {
	max-height: 35%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1%;
}

.button-panel {
	border-top: 1px solid grey;
	display: flex;
	justify-content: space-between;
	align-content: stretch;
}

.input-category-search {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	width: 25%;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.input-category-search:focus {
	cursor: default;
	width: 50%;
}

.description-tag {
	margin-right: 5px;
}